demo/backup/demo-board-1-qd/node-red-backup.json
[{"id":"ced2bdd9.dee83","type":"tab","label":"Demo Flow Fix","disabled":false,"info":""},{"id":"d0d77718.cb25f8","type":"comment","z":"ced2bdd9.dee83","name":"out topic group(1-8)","info":"","x":170,"y":60,"wires":[],"icon":"node-red/bridge.png"},{"id":"97d97c38.956c5","type":"ui_template","z":"ced2bdd9.dee83","group":"18363626.955e4a","name":"Logo/ Clock","order":0,"width":0,"height":0,"format":"<script id=\"clockScript1\" type=\"text/javascript\">\n    var clockInterval;\n    $(function () {\n        if (clockInterval) return;\n\n        //add logo\n        var div1 = $('<div/>');\n        var logo = new Image();\n\n        logo.src = 'http://66.96.231.241/img/logo/logo-tci.png'\n        logo.height = 60;\n        div1[0].style.margin = '5px auto';\n\n        div1.append(logo);\n\n        //add clock\n        var div2 = $('<div/>');\n        var p = $('<p/>');\n\n        div2.append(p);\n        div2[0].style.margin = '5px';\n\n        function displayTime() {\n            p.text(new Date().toLocaleString());\n        }\n        \n        clockInterval = setInterval(displayTime, 1000);\n\n        //add to toolbar when it's available\n        var addToToolbarTimer;\n        \n        function addToToolbar() {\n            var toolbar = $('.md-toolbar-tools');\n            \n            if(!toolbar.length) return;\n            \n            toolbar.append(div1);\n            toolbar.append(div2);\n            clearInterval(addToToolbarTimer);\n        }\n        addToToolbarTimer = setInterval(addToToolbar, 100);\n    });\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":290,"y":180,"wires":[[]]},{"id":"23ccdfde.f6865","type":"http request","z":"ced2bdd9.dee83","name":"HTTP Req","method":"PUT","ret":"txt","paytoqs":false,"url":"http://192.168.0.8:3000","tls":"","proxy":"","authType":"basic","x":470,"y":120,"wires":[["85a09063.e5327"]]},{"id":"85a09063.e5327","type":"debug","z":"ced2bdd9.dee83","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":120,"wires":[]},{"id":"babe6439.ea32b8","type":"function","z":"ced2bdd9.dee83","name":"MQTT to HTTP","func":"msg.payload = {\"data\":`${msg.payload}`,\n\"topic\":`${msg.topic}`}\nmsg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":120,"wires":[["23ccdfde.f6865"]]},{"id":"69f648ae.675058","type":"mqtt in","z":"ced2bdd9.dee83","name":"PKS Topic","topic":"pks/#","qos":"2","datatype":"auto","broker":"2c0284f7.44472c","x":120,"y":120,"wires":[["babe6439.ea32b8"]]},{"id":"31df66c1.37bbca","type":"ui_template","z":"ced2bdd9.dee83","group":"6ef2a648.9e2e68","name":"HTML Card","order":5,"width":0,"height":0,"format":"\n<div ng-bind-html=\"(msg.payload==undefined)?'belum ada data..':(msg.payload==0)?msg.deviceName + ' mati':msg.deviceName + ' hidup'\"></div>\n<span style=\"\n  margin: 0 auto;\n  width: 24px;\n  max-width:24px;\n  height: 24px;\n  max-height:24px;\n  background-color: {{(msg.payload==undefined)?'#949494de':(msg.payload === '0') ? '#F00000' : '#ABFF00'}};\n  border-radius: 50%;\n  box-shadow: {{(msg.payload==undefined)?'rgba(0, 0, 0, 0.2) 0px -1px 7px 1px, rgb(0,0,0) 0px -1px 9px inset':(msg.payload === '0') ? 'rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset rgb(68, 19, 19) 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px':'rgba(0, 0, 0, 0.2) 0px -1px 7px 1px, rgb(48,71,1) 0px -1px 9px inset, rgb(137,255,0) 0px 2px 12px'}}\">\n    \n</span>\n\n<br>\n\n<img src=\"https://image1ws.indotrading.com/s3/productimages/co90258/s18562/w600-h600/2b23a7cd-da91-4f87-bb74-f0dc14de03cew.jpg\"  height=\"150\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":530,"y":320,"wires":[[]]},{"id":"e785ad42.a1661","type":"mqtt in","z":"ced2bdd9.dee83","name":"Sensor 1","topic":"pks/bunch_reception/ffb_scrapper_conveyor","qos":"2","datatype":"auto","broker":"2c0dc922.5aad96","x":80,"y":280,"wires":[["4468ab99.ce2434"]]},{"id":"9194c2da.ca0d9","type":"mqtt in","z":"ced2bdd9.dee83","name":"Sensor 2","topic":"pks/bunch_reception/sterilizer_1","qos":"2","datatype":"auto","broker":"2c0dc922.5aad96","x":80,"y":440,"wires":[["2b29fe17.ac1402"]]},{"id":"347c0996.88e186","type":"ui_chart","z":"ced2bdd9.dee83","name":"Chart On/Off","group":"6ef2a648.9e2e68","order":8,"width":0,"height":0,"label":"Status Mesin","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"Belum ada data..","dot":false,"ymin":"0","ymax":"1","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#9cc641","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":280,"wires":[[]]},{"id":"443a7749.a2d3d8","type":"function","z":"ced2bdd9.dee83","name":"string for TTS","func":"msg.payload = (msg.payload==\"0\")?`F F B Scrapper conveyor mati`:`F F B Scrapper conveyor} hidup`\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":360,"wires":[["2ad67a4.cceef86"]],"info":"Generate string for text to speech"},{"id":"b52a4140.3c049","type":"function","z":"ced2bdd9.dee83","name":"","func":"\nmsg.payload = (msg.payload=='0'? '1':'0');\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":180,"wires":[["85a09063.e5327"]]},{"id":"4468ab99.ce2434","type":"function","z":"ced2bdd9.dee83","name":"Add msg.deviceName","func":"function capitalizeFirstLetter(string) {\n    return string.charAt(0).toUpperCase() + string.slice(1);\n}\n\nmsg.deviceName = msg.topic.split('/').pop(-1).replace(/_/g,' ');\nmsg.deviceName = capitalizeFirstLetter(msg.deviceName);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":280,"wires":[["31df66c1.37bbca","443a7749.a2d3d8","347c0996.88e186"]]},{"id":"9c336790.51c448","type":"ui_template","z":"ced2bdd9.dee83","group":"eead7827.525ec8","name":"HTML Card","order":5,"width":0,"height":0,"format":"\n<div ng-bind-html=\"(msg.payload==undefined)?'belum ada data..':(msg.payload==0)?msg.deviceName + ' mati':msg.deviceName + ' hidup'\"></div>\n<span style=\"\n  margin: 0 auto;\n  width: 24px;\n  max-width:24px;\n  height: 24px;\n  max-height:24px;\n  background-color: {{(msg.payload==undefined)?'#949494de':(msg.payload === '0') ? '#F00000' : '#ABFF00'}};\n  border-radius: 50%;\n  box-shadow: {{(msg.payload==undefined)?'rgba(0, 0, 0, 0.2) 0px -1px 7px 1px, rgb(0,0,0) 0px -1px 9px inset':(msg.payload === '0') ? 'rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset rgb(68, 19, 19) 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px':'rgba(0, 0, 0, 0.2) 0px -1px 7px 1px, rgb(48,71,1) 0px -1px 9px inset, rgb(137,255,0) 0px 2px 12px'}}\">\n    \n</span>\n\n<br>\n\n<img src=\"http://mechanovation.com/mech2018/wp-content/uploads/2017/06/palmoil1.jpeg\"  height=\"150\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":530,"y":480,"wires":[[]]},{"id":"f06a405e.276b7","type":"ui_chart","z":"ced2bdd9.dee83","name":"Chart On/Off","group":"eead7827.525ec8","order":8,"width":0,"height":0,"label":"Status Mesin","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"Belum ada data..","dot":false,"ymin":"0","ymax":"1","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#9cc641","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":440,"wires":[[]]},{"id":"241b3891.603768","type":"function","z":"ced2bdd9.dee83","name":"string for TTS","func":"msg.payload = (msg.payload==\"0\")?`${msg.deviceName} mati`:`${msg.deviceName} hidup`\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":520,"wires":[["2ad67a4.cceef86"]],"info":"Generate string for text to speech"},{"id":"2b29fe17.ac1402","type":"function","z":"ced2bdd9.dee83","name":"Add msg.deviceName","func":"function capitalizeFirstLetter(string) {\n    return string.charAt(0).toUpperCase() + string.slice(1);\n}\n\nmsg.deviceName = msg.topic.split('/').pop(-1).replace(/_/g,' ');\nmsg.deviceName = capitalizeFirstLetter(msg.deviceName);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":440,"wires":[["9c336790.51c448","241b3891.603768","f06a405e.276b7"]]},{"id":"ebb38467.058b18","type":"mqtt in","z":"ced2bdd9.dee83","name":"Sensor 3","topic":"pks/bunch_reception/sterilizer_2","qos":"2","datatype":"auto","broker":"2c0dc922.5aad96","x":80,"y":600,"wires":[["587d609.22f65a"]]},{"id":"ad6621fa.61dac","type":"mqtt in","z":"ced2bdd9.dee83","name":"Sensor 4","topic":"pks/threshing/thresher_1","qos":"2","datatype":"auto","broker":"2c0dc922.5aad96","x":80,"y":760,"wires":[["7af2eb37.206004"]]},{"id":"a90ca99.8007b58","type":"mqtt in","z":"ced2bdd9.dee83","name":"Sensor 5","topic":"pks/threshing/thresher_2","qos":"2","datatype":"auto","broker":"2c0dc922.5aad96","x":80,"y":920,"wires":[["4f3cfded.c49ae4"]]},{"id":"d418cbd1.2d4f88","type":"mqtt in","z":"ced2bdd9.dee83","name":"Sensor 6","topic":"pks/pressing/digester","qos":"2","datatype":"auto","broker":"2c0dc922.5aad96","x":80,"y":1080,"wires":[["9904dac7.b22d98"]]},{"id":"8f2f5cda.ef6ac","type":"mqtt in","z":"ced2bdd9.dee83","name":"Sensor 7","topic":"pks/pressing/screw_press_1","qos":"2","datatype":"auto","broker":"2c0dc922.5aad96","x":80,"y":1240,"wires":[["b6fd598.284e2a8"]]},{"id":"3d28c4cd.01d42c","type":"ui_template","z":"ced2bdd9.dee83","group":"c06a0599.d1c538","name":"HTML Card","order":5,"width":0,"height":0,"format":"\n<div ng-bind-html=\"(msg.payload==undefined)?'belum ada data..':(msg.payload==0)?msg.deviceName + ' mati':msg.deviceName + ' hidup'\"></div>\n<span style=\"\n  margin: 0 auto;\n  width: 24px;\n  max-width:24px;\n  height: 24px;\n  max-height:24px;\n  background-color: {{(msg.payload==undefined)?'#949494de':(msg.payload === '0') ? '#F00000' : '#ABFF00'}};\n  border-radius: 50%;\n  box-shadow: {{(msg.payload==undefined)?'rgba(0, 0, 0, 0.2) 0px -1px 7px 1px, rgb(0,0,0) 0px -1px 9px inset':(msg.payload === '0') ? 'rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset rgb(68, 19, 19) 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px':'rgba(0, 0, 0, 0.2) 0px -1px 7px 1px, rgb(48,71,1) 0px -1px 9px inset, rgb(137,255,0) 0px 2px 12px'}}\">\n    \n</span>\n\n<br>\n\n<img src=\"http://mechanovation.com/mech2018/wp-content/uploads/2017/06/palmoil1.jpeg\"  height=\"150\">","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":530,"y":640,"wires":[[]]},{"id":"9b876c53.65d32","type":"ui_chart","z":"ced2bdd9.dee83","name":"Chart On/Off","group":"c06a0599.d1c538","order":8,"width":0,"height":0,"label":"Status Mesin","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"Belum ada data..","dot":false,"ymin":"0","ymax":"1","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#9cc641","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":600,"wires":[[]]},{"id":"cba17eda.5168e","type":"function","z":"ced2bdd9.dee83","name":"string for TTS","func":"msg.payload = (msg.payload==\"0\")?`${msg.deviceName} mati`:`${msg.deviceName} hidup`\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":680,"wires":[["2ad67a4.cceef86"]],"info":"Generate string for text to speech"},{"id":"587d609.22f65a","type":"function","z":"ced2bdd9.dee83","name":"Add msg.deviceName","func":"function capitalizeFirstLetter(string) {\n    return string.charAt(0).toUpperCase() + string.slice(1);\n}\n\nmsg.deviceName = msg.topic.split('/').pop(-1).replace(/_/g,' ');\nmsg.deviceName = capitalizeFirstLetter(msg.deviceName);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":600,"wires":[["3d28c4cd.01d42c","cba17eda.5168e","9b876c53.65d32"]]},{"id":"8093d5cf.777b08","type":"ui_template","z":"ced2bdd9.dee83","group":"394c3727.707028","name":"HTML Card","order":5,"width":0,"height":0,"format":"\n<div ng-bind-html=\"(msg.payload==undefined)?'belum ada data..':(msg.payload==0)?msg.deviceName + ' mati':msg.deviceName + ' hidup'\"></div>\n<span style=\"\n  margin: 0 auto;\n  width: 24px;\n  max-width:24px;\n  height: 24px;\n  max-height:24px;\n  background-color: {{(msg.payload==undefined)?'#949494de':(msg.payload === '0') ? '#F00000' : '#ABFF00'}};\n  border-radius: 50%;\n  box-shadow: {{(msg.payload==undefined)?'rgba(0, 0, 0, 0.2) 0px -1px 7px 1px, rgb(0,0,0) 0px -1px 9px inset':(msg.payload === '0') ? 'rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset rgb(68, 19, 19) 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px':'rgba(0, 0, 0, 0.2) 0px -1px 7px 1px, rgb(48,71,1) 0px -1px 9px inset, rgb(137,255,0) 0px 2px 12px'}}\">\n    \n</span>\n\n<br>\n\n<img src=\"http://sc02.alicdn.com/kf/HTB1TT.cahrvK1RjSszeq6yObFXaW/5tph-cooking-palm-oil-machine-thresher-machine.jpg\"  height=\"150\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":530,"y":800,"wires":[[]]},{"id":"288c4d95.c73062","type":"ui_chart","z":"ced2bdd9.dee83","name":"Chart On/Off","group":"394c3727.707028","order":8,"width":0,"height":0,"label":"Status Mesin","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"Belum ada data..","dot":false,"ymin":"0","ymax":"1","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#9cc641","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":760,"wires":[[]]},{"id":"33c54b38.814984","type":"function","z":"ced2bdd9.dee83","name":"string for TTS","func":"msg.payload = (msg.payload==\"0\")?`${msg.deviceName} mati`:`${msg.deviceName} hidup`\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":840,"wires":[["2ad67a4.cceef86"]],"info":"Generate string for text to speech"},{"id":"7af2eb37.206004","type":"function","z":"ced2bdd9.dee83","name":"Add msg.deviceName","func":"function capitalizeFirstLetter(string) {\n    return string.charAt(0).toUpperCase() + string.slice(1);\n}\n\nmsg.deviceName = msg.topic.split('/').pop(-1).replace(/_/g,' ');\nmsg.deviceName = capitalizeFirstLetter(msg.deviceName);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":760,"wires":[["8093d5cf.777b08","33c54b38.814984","288c4d95.c73062"]]},{"id":"5021fff2.02501","type":"ui_template","z":"ced2bdd9.dee83","group":"d9917fa4.c17f7","name":"HTML Card","order":5,"width":0,"height":0,"format":"\n<div ng-bind-html=\"(msg.payload==undefined)?'belum ada data..':(msg.payload==0)?msg.deviceName + ' mati':msg.deviceName + ' hidup'\"></div>\n<span style=\"\n  margin: 0 auto;\n  width: 24px;\n  max-width:24px;\n  height: 24px;\n  max-height:24px;\n  background-color: {{(msg.payload==undefined)?'#949494de':(msg.payload === '0') ? '#F00000' : '#ABFF00'}};\n  border-radius: 50%;\n  box-shadow: {{(msg.payload==undefined)?'rgba(0, 0, 0, 0.2) 0px -1px 7px 1px, rgb(0,0,0) 0px -1px 9px inset':(msg.payload === '0') ? 'rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset rgb(68, 19, 19) 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px':'rgba(0, 0, 0, 0.2) 0px -1px 7px 1px, rgb(48,71,1) 0px -1px 9px inset, rgb(137,255,0) 0px 2px 12px'}}\">\n    \n</span>\n\n<br>\n\n<img src=\"http://sc02.alicdn.com/kf/HTB1TT.cahrvK1RjSszeq6yObFXaW/5tph-cooking-palm-oil-machine-thresher-machine.jpg\"  height=\"150\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":530,"y":960,"wires":[[]]},{"id":"7b5500a3.90ad3","type":"ui_chart","z":"ced2bdd9.dee83","name":"Chart On/Off","group":"d9917fa4.c17f7","order":8,"width":0,"height":0,"label":"Status Mesin","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"Belum ada data..","dot":false,"ymin":"0","ymax":"1","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#9cc641","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":920,"wires":[[]]},{"id":"8eec8f4b.a1dee","type":"function","z":"ced2bdd9.dee83","name":"string for TTS","func":"msg.payload = (msg.payload==\"0\")?`${msg.deviceName} mati`:`${msg.deviceName} hidup`\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1000,"wires":[["2ad67a4.cceef86"]],"info":"Generate string for text to speech"},{"id":"4f3cfded.c49ae4","type":"function","z":"ced2bdd9.dee83","name":"Add msg.deviceName","func":"function capitalizeFirstLetter(string) {\n    return string.charAt(0).toUpperCase() + string.slice(1);\n}\n\nmsg.deviceName = msg.topic.split('/').pop(-1).replace(/_/g,' ');\nmsg.deviceName = capitalizeFirstLetter(msg.deviceName);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":920,"wires":[["5021fff2.02501","8eec8f4b.a1dee","7b5500a3.90ad3"]]},{"id":"2af52f6.91fe1d","type":"ui_template","z":"ced2bdd9.dee83","group":"620e77b6.66aa78","name":"HTML Card","order":5,"width":0,"height":0,"format":"\n<div ng-bind-html=\"(msg.payload==undefined)?'belum ada data..':(msg.payload==0)?msg.deviceName + ' mati':msg.deviceName + ' hidup'\"></div>\n<span style=\"\n  margin: 0 auto;\n  width: 24px;\n  max-width:24px;\n  height: 24px;\n  max-height:24px;\n  background-color: {{(msg.payload==undefined)?'#949494de':(msg.payload === '0') ? '#F00000' : '#ABFF00'}};\n  border-radius: 50%;\n  box-shadow: {{(msg.payload==undefined)?'rgba(0, 0, 0, 0.2) 0px -1px 7px 1px, rgb(0,0,0) 0px -1px 9px inset':(msg.payload === '0') ? 'rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset rgb(68, 19, 19) 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px':'rgba(0, 0, 0, 0.2) 0px -1px 7px 1px, rgb(48,71,1) 0px -1px 9px inset, rgb(137,255,0) 0px 2px 12px'}}\">\n    \n</span>\n\n<br>\n\n<img src=\"http://www.palmoilmillplant.com/uploads/allimg/palm-fruit-digester-machine-design.jpg\"  height=\"150\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":530,"y":1120,"wires":[[]]},{"id":"136c2abe.ebdaa5","type":"ui_chart","z":"ced2bdd9.dee83","name":"Chart On/Off","group":"620e77b6.66aa78","order":8,"width":0,"height":0,"label":"Status Mesin","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"Belum ada data..","dot":false,"ymin":"0","ymax":"1","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#9cc641","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":1080,"wires":[[]]},{"id":"a580ab68.e236d8","type":"function","z":"ced2bdd9.dee83","name":"string for TTS","func":"msg.payload = (msg.payload==\"0\")?`${msg.deviceName} mati`:`${msg.deviceName} hidup`\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1160,"wires":[["2ad67a4.cceef86"]],"info":"Generate string for text to speech"},{"id":"9904dac7.b22d98","type":"function","z":"ced2bdd9.dee83","name":"Add msg.deviceName","func":"function capitalizeFirstLetter(string) {\n    return string.charAt(0).toUpperCase() + string.slice(1);\n}\n\nmsg.deviceName = msg.topic.split('/').pop(-1).replace(/_/g,' ');\nmsg.deviceName = capitalizeFirstLetter(msg.deviceName);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1080,"wires":[["2af52f6.91fe1d","a580ab68.e236d8","136c2abe.ebdaa5"]]},{"id":"4bebe91c.519e88","type":"ui_template","z":"ced2bdd9.dee83","group":"4e65af7a.6424d","name":"HTML Card","order":5,"width":0,"height":0,"format":"\n<div ng-bind-html=\"(msg.payload==undefined)?'belum ada data..':(msg.payload==0)?msg.deviceName + ' mati':msg.deviceName + ' hidup'\"></div>\n<span style=\"\n  margin: 0 auto;\n  width: 24px;\n  max-width:24px;\n  height: 24px;\n  max-height:24px;\n  background-color: {{(msg.payload==undefined)?'#949494de':(msg.payload === '0') ? '#F00000' : '#ABFF00'}};\n  border-radius: 50%;\n  box-shadow: {{(msg.payload==undefined)?'rgba(0, 0, 0, 0.2) 0px -1px 7px 1px, rgb(0,0,0) 0px -1px 9px inset':(msg.payload === '0') ? 'rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset rgb(68, 19, 19) 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px':'rgba(0, 0, 0, 0.2) 0px -1px 7px 1px, rgb(48,71,1) 0px -1px 9px inset, rgb(137,255,0) 0px 2px 12px'}}\">\n    \n</span>\n\n<br>\n\n<img src=\"http://innovergy.com/assets/img/solutions/ScrewPress.jpg\"  height=\"150\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":530,"y":1280,"wires":[[]]},{"id":"2fe795fa.e1b6ea","type":"ui_chart","z":"ced2bdd9.dee83","name":"Chart On/Off","group":"4e65af7a.6424d","order":8,"width":0,"height":0,"label":"Status Mesin","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"Belum ada data..","dot":false,"ymin":"0","ymax":"1","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#9cc641","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":1240,"wires":[[]]},{"id":"fbd10d3f.beb69","type":"function","z":"ced2bdd9.dee83","name":"string for TTS","func":"msg.payload = (msg.payload==\"0\")?`${msg.deviceName} mati`:`${msg.deviceName} hidup`\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1320,"wires":[["2ad67a4.cceef86"]],"info":"Generate string for text to speech"},{"id":"b6fd598.284e2a8","type":"function","z":"ced2bdd9.dee83","name":"Add msg.deviceName","func":"function capitalizeFirstLetter(string) {\n    return string.charAt(0).toUpperCase() + string.slice(1);\n}\n\nmsg.deviceName = msg.topic.split('/').pop(-1).replace(/_/g,' ');\nmsg.deviceName = capitalizeFirstLetter(msg.deviceName);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1240,"wires":[["4bebe91c.519e88","fbd10d3f.beb69","2fe795fa.e1b6ea"]]},{"id":"ac383eb6.740ef","type":"comment","z":"ced2bdd9.dee83","name":"Fresh Fruit Bunch (FFB) Scrapper Conveyor","info":"","x":190,"y":340,"wires":[],"icon":"node-red/db.png"},{"id":"930df3e5.fa8b3","type":"comment","z":"ced2bdd9.dee83","name":"Sterilizer 2","info":"","x":160,"y":660,"wires":[],"icon":"node-red/db.png"},{"id":"206c4b8b.7a7214","type":"comment","z":"ced2bdd9.dee83","name":"Sterilizer 1","info":"","x":160,"y":500,"wires":[],"icon":"node-red/db.png"},{"id":"88f1c5f8.6b7638","type":"comment","z":"ced2bdd9.dee83","name":"Thresher 1","info":"","x":160,"y":820,"wires":[],"icon":"node-red/db.png"},{"id":"510dfdf3.cf41c4","type":"comment","z":"ced2bdd9.dee83","name":"Thresher 2","info":"","x":160,"y":980,"wires":[],"icon":"node-red/db.png"},{"id":"56be831f.2ef15c","type":"comment","z":"ced2bdd9.dee83","name":"Digester","info":"","x":160,"y":1140,"wires":[],"icon":"node-red/db.png"},{"id":"9948d53e.5e0758","type":"comment","z":"ced2bdd9.dee83","name":"Screw Press 1","info":"","x":170,"y":1300,"wires":[],"icon":"node-red/db.png"},{"id":"f1fc4875.832b38","type":"mqtt in","z":"ced2bdd9.dee83","name":"Sensor 8","topic":"pks/pressing/screw_press_2","qos":"2","datatype":"auto","broker":"2c0dc922.5aad96","x":80,"y":1400,"wires":[["ab403fec.9f5f4"]]},{"id":"99965075.2eafa","type":"ui_template","z":"ced2bdd9.dee83","group":"6664b08.9894d5","name":"HTML Card","order":5,"width":0,"height":0,"format":"\n<div ng-bind-html=\"(msg.payload==undefined)?'belum ada data..':(msg.payload==0)?msg.deviceName + ' mati':msg.deviceName + ' hidup'\"></div>\n<span  style=\"\n  margin: 0 auto;\n  width: 24px;\n  max-width:24px;\n  height: 24px;\n  max-height:24px;\n  background-color: {{(msg.payload==undefined)?'#949494de':(msg.payload === '0') ? '#F00000' : '#ABFF00'}};\n  border-radius: 50%;\n  box-shadow: {{(msg.payload==undefined)?'rgba(0, 0, 0, 0.2) 0px -1px 7px 1px, rgb(0,0,0) 0px -1px 9px inset':(msg.payload === '0') ? 'rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset rgb(68, 19, 19) 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px':'rgba(0, 0, 0, 0.2) 0px -1px 7px 1px, rgb(48,71,1) 0px -1px 9px inset, rgb(137,255,0) 0px 2px 12px'}}\">\n    \n</span>\n\n<br>\n\n<img src=\"http://innovergy.com/assets/img/solutions/ScrewPress.jpg\"  height=\"150\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":530,"y":1440,"wires":[[]]},{"id":"a2559394.dd297","type":"ui_chart","z":"ced2bdd9.dee83","name":"Chart On/Off","group":"6664b08.9894d5","order":8,"width":0,"height":0,"label":"Status Mesin","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"Belum ada data..","dot":false,"ymin":"0","ymax":"1","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#9cc641","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":1400,"wires":[[]]},{"id":"9316fb52.1733f8","type":"function","z":"ced2bdd9.dee83","name":"string for TTS","func":"msg.payload = (msg.payload==\"0\")?`${msg.deviceName} mati`:`${msg.deviceName} hidup`\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1480,"wires":[["2ad67a4.cceef86"]],"info":"Generate string for text to speech"},{"id":"ab403fec.9f5f4","type":"function","z":"ced2bdd9.dee83","name":"Add msg.deviceName","func":"function capitalizeFirstLetter(string) {\n    return string.charAt(0).toUpperCase() + string.slice(1);\n}\n\nmsg.deviceName = msg.topic.split('/').pop(-1).replace(/_/g,' ');\nmsg.deviceName = capitalizeFirstLetter(msg.deviceName);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1400,"wires":[["99965075.2eafa","9316fb52.1733f8","a2559394.dd297"]]},{"id":"d0bb9d6b.3faff","type":"comment","z":"ced2bdd9.dee83","name":"Screw Press 2","info":"","x":170,"y":1460,"wires":[],"icon":"node-red/db.png"},{"id":"c87dd59f.7d8458","type":"ui_audio","z":"ced2bdd9.dee83","name":"","group":"eead7827.525ec8","voice":"id-ID","always":"","x":920,"y":920,"wires":[]},{"id":"2ad67a4.cceef86","type":"delay","z":"ced2bdd9.dee83","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":760,"y":920,"wires":[["c87dd59f.7d8458"]]},{"id":"18363626.955e4a","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":false,"width":"24","collapse":false},{"id":"2c0284f7.44472c","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6ef2a648.9e2e68","type":"ui_group","z":"","name":"F.F.B. Scrapper Conveyor","tab":"7c40491b.3ef128","disp":true,"width":"6","collapse":false},{"id":"2c0dc922.5aad96","type":"mqtt-broker","z":"","name":"Node-RED","broker":"localhost","port":"1883","clientid":"Node-RED","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"eead7827.525ec8","type":"ui_group","z":"","name":"Sterilizer 1","tab":"7c40491b.3ef128","disp":true,"width":"6","collapse":false},{"id":"c06a0599.d1c538","type":"ui_group","z":"","name":"Sterilizer 2","tab":"7c40491b.3ef128","disp":true,"width":"6","collapse":false},{"id":"394c3727.707028","type":"ui_group","z":"","name":"Thresher 1","tab":"7c40491b.3ef128","disp":true,"width":"6","collapse":false},{"id":"d9917fa4.c17f7","type":"ui_group","z":"","name":"Thresher 2","tab":"7c40491b.3ef128","disp":true,"width":"6","collapse":false},{"id":"620e77b6.66aa78","type":"ui_group","z":"","name":"Digester","tab":"7c40491b.3ef128","disp":true,"width":"6","collapse":false},{"id":"4e65af7a.6424d","type":"ui_group","z":"","name":"Screw Press 1","tab":"7c40491b.3ef128","disp":true,"width":"6","collapse":false},{"id":"6664b08.9894d5","type":"ui_group","z":"","name":"Screw Press 2","tab":"7c40491b.3ef128","disp":true,"width":"6","collapse":false},{"id":"7c40491b.3ef128","type":"ui_tab","z":"","name":"Pabrik Kelapa Sawit","icon":"","disabled":false,"hidden":false}]